<div class="container">

    <button type="button" class="btn btn-primary mt-5 mr-1" routerLink="/produtos/criar">Novo Produto</button>

  <div *ngIf="produtos" >
  <p>Quantidade de Produtos Casdastrados: {{produtos.length}}</p>
  </div>

  <div *ngIf="produtos.length > 0; else naoProdutos">
    <table class="table table-bordered mt-5
    container shadow p-3 mb-5 mt-4 bg-white rounded" >
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Data de Validade</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">

          <td>{{produto.nome}}</td>
          <td>{{produto.preco}}</td>
          <td>{{produto.dataValidade}}</td>
          <td>{{produto.quantidade}}</td>
          <td>
            <a class="btn btn-primary butao" routerLink="/produtos/editar/{{produto.id}}">Editar</a>
            <a class="btn btn-danger" routerLink="/produtos/excluir/{{produto.id}}" >Excluir</a>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #naoProdutos>
    <div class="container mt-5" >
  <h2>Não há Produtos Cadastrados</h2>
    </div>
  </ng-template>


</div>
