<h3 class="container mb-4">Cadastre novo Produto</h3>

<form class="form-group container  ">
  <div class="mb-3">
    <label >Nome do Produto</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Coloque o nome do Produto">
  </div>
  <div class="mb-3">
    <label >Data de validade Produto</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Coloque a data de validade do Produto">
  </div>
  <div class="mb-3">
    <label >Preço do Produto</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Coloque o preço do Produto">
  </div>
  <div class="mb-3">
    <label >Quantidade</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Coloque a quantidade de Produto">
  </div>

  colocar o butao de cadastrar e cancelar

</form>

